[user]
    name = Chris Hawkins
    email = catchcoder@gmail.com
[color]
    ui = true
    status = auto
[diff]
    tool = vimdiff
    algorithm = patience
[core]
    editor = /usr/bin/vim
[push]
    default = simple
